@media screen and (max-width:700px) {
    #mainPc{
        padding: 5px;
    }

    #imgPc{
        height: 2.5em;
    }

    #posttitle{
        font-family:monospace;
        font-size: 14.5px;
    }
} 
